{% extends "base.html" %}

{% load static %}

{% block titulo %} Crear servicio {% endblock %}

{% block contenido %}

        <!-- Editar Servicio -->
        <div id="editar-servicio" class="service-form">
            <h1>Crear servicio</h1>
            <br>
            <form action="#" method="post" enctype="multipart/form-data">

                {% csrf_token %}

                {{form}}

                
                <input type="submit" class="button button-block" value="Guardar servicio">
                <input type="reset" class="button button-block" value="Cancelar">    
            </form>
            {{mensaje}}
        </div>
    </div>
</div>
    {% endblock %}
